html, body {
	width: 500px;
}



*, * {
	margin: 0;
	padding: 0;
}

input {
	display: block;
	width: 98%;
	padding: 5px 10px;
	outline: 0;
	font-size: 20px;
	margin: 5px 5px;
}

#tabs {
	max-height: 500px;
	overflow: auto;
}

li {
	list-style: none;
	padding: 5px 24px 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	position: relative;
	font: menu;
}

li.old {
	background: rgb(245,245,245);
}

li.selected, li.old:hover{
	background: Highlight;
}

li img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: middle;
}

li img, li span {
	pointer-events: none;
}

li button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	display: block;
	width: 24px;
	border: 0;
	background: transparent url("icons/close.png") no-repeat center 4px;
	opacity: 0.3;
}

li:hover button {
	opacity: 1;
}

li button:hover  {
	background-image: url("icons/close-hover.png");
}

li button:active {
	background-image: url("icons/close-active.png");
}

#statusbar {
	padding: 5px 5px;
	font: status-bar;
	background: ButtonHighlight;
	display: flex;
	justify-content: space-between;
}

#statusbar button {
	padding: 3px 5px;	
}

#message {
	text-align: center;	
	display: none;
}

#message.showing {
	display: block;
}

