body {
	box-sizing: border-box;
	min-width: 500px;
	font-family: Roboto, system-ui, sans-serif;
}

*, * {
	margin: 0;
	padding: 0;
}

#topBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: #fff;
}

.scrolled #topBar {
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

#search {
	display: block;
	width: 98%;
	padding: 5px 10px;
	outline: 0;
	font-size: 13px;
	margin: 5px 5px;
	box-sizing: border-box;
	background: #fff;
	border: 2px solid #ccc;
	border-radius: 10px;
}

#tabs {
	clear: both;
	min-height: 300px;
	padding: 40px 0 56px 0;
}

#filterMessage {
	position: absolute;
	top: 32px;
	left: 0;
	bottom: 32px;
	right: 0;
	pointer-events: none;
	line-height: 300px;
	text-align: center;
	display: none;
}

#filterMessage.visible {
	display: block;
}

li {
	list-style: none;
	padding: 5px 24px 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	font-size: 13px;
}

li div {
	overflow: hidden;
	text-overflow: ellipsis;
}

li.newWindow {
	border-top: 24px solid #fff;
}

li.newWindow::after {
	position: absolute;
	top: -12px;
	height: 12px;
	left: 12px;
	right: 24px;
	display: block;
	background: linear-gradient(#ddd, #eee);
	background: #fff;
	border-top: 1px solid #ddd;
	content: "";
}

li.selected {
	background-color: #eee;
}

li img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: middle;
}

li img, li span {
	pointer-events: none;
}

li button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	display: block;
	width: 24px;
	font-size: 12px;
	font-weight: bold;
	border: 0;
	opacity: 0.1;
	padding-right: 6px;
	width: 48px;
	text-align: right;
	background: transparent;
}

li.selected button,
li:hover button {
	opacity: 1;
}

#actionBar {
	padding: 7px 5px 0 5px;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	color: #fff;
	box-shadow: -1px 0 1px rgba(0,0,0,0.3);
	text-align: right;
	display: none;
	height: 48px;
	display: block;
}

#actionBar.visible {
	display: block;
}

#buttonWrapper {
	text-align: right;
}

#actionBar button {
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 8px 16px;
	font-size: 10px;
	font-weight: bold;
	border-radius: 5px;
	display: inline-block;
	background: #fff;
	color: #777;
	margin: 0 2px;
	height: 32px;
	cursor: pointer;
}

#actionBar button:focus,
#actionBar button:hover {
	color: #1a73e8;
	background-color: rgba(66, 133, 244, 0.04);
	border-color: rgb(210, 227, 252);
}

#actionBar button:active {
	background-color: rgba(66, 133, 244, 0.2);
}

#messageLabel {
	position: absolute;
	top: 16px;
	left: 16px;
	display: block;
	color: #bbb;
	font-size: 12px;
}